.Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        margin: 6vh;
        margin: auto;
        margin-top:16vh ;
        border-radius: 20px;
        border-style: solid;
        border-color: #166a7d;
        padding: 2.5vh;
        background-color: #9BEBBB;
        color: #0a45bbde;
        font-size: 1.4vh;
        button{
            font-size: 1.4vh;
            width: max-content;
            color: #166a7d;
            margin: 1vh;
            border-radius: 20px;
            border-style: solid;
            background-color: white;
            border-color: #166a7d;
            padding: 0.5vh;
        }
        button:hover{
            background-color: #166a7d;
            color:white;
        }
        button:active{
            background-color: #7d1616;
            border-color: #7d1616;
            color:white;
        }
    }
    img{
        margin: auto;
        margin-top:6vh ;
        margin-left:16vh ;
        width: max-content;
        height: 30vh;
        border-radius: 50px;
        border-color: #0a45bbde;
        border-style: solid;
    }
}