.AboutMe{
    display: flex;
    img{
        width: 50%;
        height: 20%;
        margin: 1vh;
        border-radius: 30px;
    }
    div{
        margin: 2vh;
        padding: 2vh;
        border-radius: 20px;
        border-style: solid;
        border-color: #166a7d;
        background-color: #9BEBBB;
        color: #0a45bbde;
    }
}