.Headers{
    background-color: #80C8D8;
    text-align: center;
    border-bottom-color: #166a7d;
    border-bottom-style: solid;
    padding-top: 1vh;
    h1{
        
        margin-top: 0px;
        color:#166a7d;
    
    }
}